// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_info-table{
  height: 350px;
  margin: 0 auto;
}

.btn-box{
  width: 550px;
  margin: 0 auto;
}

.font{
  font-size: 30px;
}
