<div class="container admin-top">
  <div class="row">
    <h1 class="admin-title"><strong>管理者画面</strong></h1>
    <span class="order-count">本日の注文件数</span>
    <span><a><%= @order.count %></a>件</span>
  </div>
</div>