<div class="container">
  <div class="row">
    <div class="col-xs-10">
      <span class="address-title"><strong>配送先登録/一覧</strong></span>
      <div>
        <!--form_withを記入-->
        <table class="address-form-table">
        <tr>
          <td>郵便番号(ハイフンなし)</td>
          <td></td>
          <td width="300"></td>
        </tr>
        <tr>
          <td>住所</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td>宛名</td>
          <td></td>
          <td></td>
          <td width="200" class="address-create-td"></td>
        </tr>
        </table>
        <!--endを記入-->
      </div>

      <div>
        <table class="address-index" border="1" width="800">
          <tr bgcolor="#eee">
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th>編集/削除</th>
          </tr>
          <!--each文を記入-->
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="address-button"></td>
          </tr>
          <!--endを記入-->
        </table>
      </div>
    </div>
  </div>
</div>