<div class="row login-row" >
    <div class="col-xs-offset-5" style="margin-top: 30vh; margin-bottom: 20vh; margin-left: 400px">
      <p class="thanks-font">ご購入ありがとうございました！</p>
    </div>
  </div>
</div>
